<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <title>Sapien Investimentos</title>
</head>
<body>
  <header>
    <div class="topo">
        <h1><a href="/"><img class="logo" src="img/logo.png" alt=""></a></h1>
    </div>
  </header>

  <section id="artigos">

    <div id="bloco-1-artigo">
      <div class="destaque"> <img id="img-destaque" src="img/saoPaulo01.png" alt=""> </div>
      <div class="segunda"> 
        <div class="img-dest-lat"><img class="img-dest-lat" src="img/cotacoes01.png" alt=""></div> 
        <div class="texto-lateral"><h3><%= artigos[2].titulo %></h3></div>
      </div>
      <div class="terceira">
        <div class="img-dest-lat"><img class="img-dest-lat" src="img/petrobras01.png" alt=""></div> 
        <div class="texto-lateral"><h3><%= artigos[3].titulo %></h3></div>
      </div>
      <div class="quarta"> 
        <div class="img-dest-lat"><img class="img-dest-lat" src="img/predio01.png" alt=""></div> 
        <div class="texto-lateral"><h3><%= artigos[4].titulo %></h3></div>
      </div>
    </div>

    <div class="bloco-2-artigo">
      <div class="artigo">Artigo</div>
      <div class="artigo">Artigo</div>
    </div>
    <div class="bloco-2-artigo">
      <div class="artigo">Artigo</div>
      <div class="artigo">Artigo</div>
    </div>
    <div class="bloco-2-artigo">
      <div class="artigo">Artigo</div>
      <div class="artigo">Artigo</div>
    </div>

  </section>
  <footer>
    <ul class="nav-footer">
      <li><a href="/">Home</a></li>
      <li><a href="/">Artigos</a></li>
      <li><a href="/sobre">Sobre</a></li>
      <li><a href="/contato">Fale conosco</a></li>
      <li><a href="/acoes">Ações</a></li>
      <li><a href="/fiis">Fundos Imobiliarios</a></li>
    </ul>
  </footer>
  
</body>
</html>