<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <title>Sapien Investimentos</title>
</head>
<body>
  <header>
    <h1><a href="/"><img src="img/logo.png" alt=""></a></h1>
  </header>
  <section>

  </section>
  <footer>
    <ul>
      <li><a href="">Home</a></li>
      <li><a href="">Artigos</a></li>
      <li><a href="">Sobre</a></li>
      <li><a href="">Fale conosco</a></li>
      <li><a href="">Ações</a></li>
      <li><a href="">Fundos Imobiliarios</a></li>
    </ul>
  </footer>
  
</body>
</html>